@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');
*{
    margin:0;
    padding:0;
    background-color: black;
    
}
.navbar{
    
    font-family: 'Roboto', sans-serif;
    margin: 30px 40px;
    width: 100vw; 
}
.infoContainer{
    /*background-color: rgba(202, 9, 128 );*/
    height: 58vh;
    width: 85vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
    color: aqua;
    
    box-shadow: rgb(34, 66, 101) 0px 20px 30px -10px;
    border-radius: 10%;
    padding-bottom: 20px;
    padding-top:20px ;
}
.navbar nav{
    padding: 45px;
    display: flex;
}
.individual_proJects{
    display: flex;
    margin-left: 10%;
    margin-top: 10%;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    width: auto;
    border-radius: 30px;
    padding: 20px 20px;
}
.navbar ul {
    display: flex;
    Justify-content:end;
    margin-right: 100px;
}
.navbar  ul li{
   
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
    font-weight: bold;
    
    
}
.individual_img img{
    overflow: hidden;
    margin-top: 40px;
    height: auto;
    width: 500px;
}
.navbar  li a{
    text-decoration: none;
    
    position: relative;
    color: #FFFF00;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 10px ;
    background: linear-gradient();
}
.Myintro{
    padding: 23px;

}
.navbar ul li a:hover::after{
     width: 100%;
}.navbar ul li a{
    margin: 10px 10px;
    padding: 8px 15px;
}
.navbar ul li a::before{
    content: "";
    width: 99%;
    height: 99%;
    top: 0%;
    left: 0%;
    transition: all 0.5s ease-in-out;
    transform-origin: left;
    border-top: 2px solid yellow;
    border-left: 2px solid yellow;
    position: absolute;
}
.navbar ul li a::after{
    content: "";
    width: 99%;
    height: 99%;
    bottom: 0%;
    right: 0%;
    transition: all 0.3s ease-in-out;
    transform-origin: left;
    border-bottom: 2px solid yellow;
    border-right: 2px solid yellow;
    position: absolute

}
.navbar ul li a:hover::after{
    width: 10%;
    height: 20%;
    transform: rotate(360deg);
}
.navbar ul li a:hover::before{
    width: 10%;
    height: 20%;
    transform: rotate(360deg);
}
.main{
   /* background-color: yellow; */
    width: 85vw;
    padding: 20px;
}

.devinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: '';
    margin-left: 30px;
    background: none;
}
.devpic img{
    height: 50vh;
    border-radius: 50%;
}
.devpic {
    background: none;
}
.hello{
    font-size: 60px;
    font-family: 'Roboto Condensed', sans-serif;
    overflow:hidden;
    white-space: nowrap;
    animation: text 6s steps(35) infinite alternate;
    background: none;
}
@keyframes text{
    0%{
        width: 0ch;
    }
    50%{
        width: 20ch;
    }
}

.descme{
    margin-left: 40px;
    color: #7d8c90;

}
.name{
    font-size: 50px;
    font-weight: bold;
}
.about{
    font-size: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    overflow:hidden;
    
    white-space: nowrap;
    animation: text1 6s steps(35) infinite alternate;
    background: none;
}
@keyframes text1{
    0%{
        width: 0ch;
    }
    50%{
        width: 16ch;
    }
    100%{
       width: 34ch;
    }
}
.moreabout{
    font-size: 29px ;
    font-family: 'Roboto Condensed', sans-serif;
    background: none;
}
.buttons{
    margin-top: 32px;
    background: none
    ;
}
.btn{
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 21px;
    margin: 0 3px;
    cursor: pointer;
}
 .btn:hover{
    background-color: white;
    color: dodgerblue;
}
.contactform{
    padding: 0 34px;
    padding-top: 144px;
}
.contactform h1{
    font-family: 'Source Code Pro', monospace;
    text-align: center;
}
.contactform div{
    padding: 10px 0;
}
#contact{
    margin-top: 100px;
}
#introduction img{
    border-radius: 20px;
    height: 300px;
}
@media (max-width:1000px){
    
    html{
        /* font-size: 70%; */
        width: 65%;
    }
    
}
@media (max-width:800px){
    html{
        font-size: 50%;
        width: 45%;
    }
    
}
@media (max-width:500px){
    html{
        font-size: 50%;
        width: 30%;
    }
    
}
.Github-Stats{
    margin-left: 30%;
    width: auto;
}
.Github-Stats img{
   margin-top: 20px;
   margin-bottom: 20px;
}
.introduct{
    display: flex;
    margin: 20px;
    color: #006600;
}
.introduct h2{
    text-align: center;
}.introduct img{
    border-radius: 20%; 
}
.descme{
    margin-top: 60px;
    font-size: 20px;
    line-height: 40px;

}
#introduction{
    box-shadow: lightgrey 3px 3px 5px;
    margin-left: 70px;
    width: auto;
    border-radius: 5%;
    display: flex;
}
@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Asa", sans-serif;
}
body {
  background: #42455a;
}


.reveal {
    position: relative;
    opacity: 0;
    display: flex;
    margin-left: 20%;
  }
  
  .reveal.active {
    opacity: 1;
  }
  .active.fade-bottom {
    animation: fade-bottom 1s ease-in;
  }
  .active.fade-left {
    animation: fade-left 1s ease-in;
  }
  .active.fade-right {
    animation: fade-right 1s ease-in;
  }
  @keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  
  @keyframes fade-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

.skills-section div img{
    height: 100px;
}
.skills-section {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 30px;
}
.skills-section div{
    margin: auto;
    
   
    margin-left: 20px;
    text-align: center;
    color: aliceblue;
    width: 300px;
    box-shadow: rgb(34, 66, 101) 0px 20px 30px -10px;
    padding: 30px 40px;
    line-height: 25px;
    border-radius: 5%;
    transition: transform 0.5s;
    background: #262626;
}
.skills-section div:hover{
    background-color: #ff004f;
    transform: translateY(-20px);
    
}
.skills-section p{
    background: none;
}
.skills-section p:hover{
    background-color: #ff004f;
}
.skills-section h3{
    background:none;
}
.skillsmain{
    margin-top: 100px;
    color: white;
    text-align: center;
    
}
.skillsmain h2{
    font-size: 45px;
}
.contact-left p{
    font-size: 20px;
}


.btn-sec button{
    color: white;
    border: 1px solid #ff004f;
    margin-top: 40px;
    text-align: center;
    padding: 20px 40px;
    border-radius: 10px;
    transition: all 0.8s;
} 
.btn-sec button:hover{
    color: white;
    background-color: turquoise;
    transform: translateY(-7px);
}
.btn-sec{
    text-align: center;
}


.contact-left{
    color: white;
    
}
.contact-left>div>img{
    height: 30px;
    
}
.row{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.contact-right label{
    color: white;
    text-align: center;
}
.contact-right input{
    padding: 8px 32px;
    border-radius: 8px;
    margin-left: 20px;
    color: white;
}
.contact-right textarea{
    padding: 5px 30px;
}
.contact-right button{
   color: white;
   background-color: #ff004f;
   padding: 8px 32px;
   border-radius: 5px;
   margin-left: 150px;
   margin-top: 30px;
}
@media screen and (max-width:700px) {
    .navbar{
        width: 100vw;
        margin: 10px 20px;
    }
    #introduction{
        display: block; 
       margin: opx;
     }
    .infoContainer{
        /*background-color: rgba(202, 9, 128 );*/
        height: 39vh;
        width: 56vw;
        margin: 144px auto;
        display: flex;
        justify-content: space-around;
        color: aqua;
    }
    .devpic img{
        height: 32vh;
        
    }
    .introduct img{
        border-radius: 20%; 
        margin-top: 70px;
        height: 200px;
    }
    .navbar  ul li{
        list-style: none;
        font-size: 20px;
        padding: 10px 0;
        font-weight: bold;
    }
    .hello{
        font-size: 40px;
        
    }
    .name{
        font-size: 30px;
        font-weight: bold;
    }
    .about{
        font-size: 15px;
        width: 200px;
    }
    .devinfo{
        display: block;
        flex-direction: column;
        justify-content: center;
        font-family: 'Source Code Pro', monospace;
        margin-left: 10px;
    }
    .moreabout{
        font-size: 18px ;
        background: none;
    }
    .introduct{
        display: block;
        color: #006600;
        width: 500px;
    }
    .descme{
        max-width: auto;
        font-size: 13px;
        margin-right: 5px;
        height: auto;
    }
    .navbar ul{
        padding: 30px;
        display: block;
        margin-left: 10%;

}

.skills-section {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    margin-left: 30%;
}
.skills-section div{
    width: 110px;
    height: 200px;
    margin: 10px;
    overflow: hidden;
}
.row{
    display: block;
    margin-top: 30px;
    margin-left: 40%;
}
.contact-right input{
    padding: 4px 18px;
    border-radius: 8px;
    
    color: white;
}
.contact-right{
    margin-top: 10px;
}

}
@media screen and (max-width:550px) {
    .navbar{
        width: 100vw;
        margin: 10px 20px;
    }
    .container-form{
        margin-top: 100px;
    }
    .skills-section div img{
        height: auto;
        width: 90%;
    }
    #introduction img{
        border-radius: 20px;
        height: 150px;
    }
    #introduction{
        display: block; 
       margin: opx;
     }
    .infoContainer{
        /*background-color: rgba(202, 9, 128 );*/
        height: auto;
        width: auto;
        margin: 144px auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        color: aqua;
    }
    .Github-Stats{
        
        width: auto;
    }
    .Github-Stats img{
        width: 95%;
    }
    .individual_img img{
        overflow: hidden;
        margin-left: 0px;
        height: auto;
        width: 100%;
        top:20%
    }
    .reveal.active {
        opacity: 1;
        display: block;
      }
    .reveal {
        position: relative;
        opacity: 0;
        display: block;
        margin-left: 20%;
      }
    .devpic img{
        height: 22vh;
    }
    .individual_proJects{
        display: block;
    }
    .navbar  ul li{
        list-style: none;
        font-size: 20px;
        padding: 10px 0;
        font-weight: bold;
    }
    .hello{
        font-size: 25px;
    }
    .name{
        font-size: 20px;
        font-weight: bold;
    }
    .about{
        font-size: 15px;
    }
    .devinfo{
        display: block;
        flex-direction: column;
        justify-content: center;
        font-family: 'Source Code Pro', monospace;
        margin-left: 10px;
    }
    .contact-left p{
        font-size: 10px;
    }
    .moreabout{
        font-size: 10px ;
    }
    .introduct{
        display: block;
        color: #006600;
        width: 500px;
    }
    .descme{
        margin-left: 20px;
        margin: 20px;
        font-size: 13px;
    }
    .navbar ul{
        padding: 30px;
        display: block;
        margin-left: 10%;
        
}
.calendar{
    width: 90%;
  }
  .js-calendar-graph-svg {
     width: 90%;
  }
.skills-section {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: auto;
    margin-left: 100px;
}
.skills-section div{
    width: auto;
    height: auto;
    margin: 10px;
    overflow: hidden;
    padding: 10px 10px;
}.contact-right input{
    padding: 3px 5px;
    border-radius: 8px;
    margin-left: 10px;
    color: white;
    width: 100px;
}
.contact-right textarea{
    padding: 5px 15px;
}
#contact{
    width: 300px;
    margin: 5px;
    
}
.worklist{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.row{
    display: block;
    margin-top: 30px;
    margin-left: 30%;
}
.contact-right input{
    padding: 4px 18px;
    border-radius: 8px;
    color: white;
}
.contact-right{
    margin-top: 10px;
}
.contact-left p{
    font-size: 10px;
}
.contact-right textarea{
    padding: 5px 20px;
    width: 100px ;
}
.contact-right button{
    color: white;
    background-color: #ff004f;
    padding: 5px 16px;
    border-radius: 5px;
    width: 100px;
    margin-top: 20px;
    margin-left: 20px;
 }
 .skillsmain h2{
   text-align: center;
 }
 .contact-left i{
    font-size: 13px;
  }
#introduction{
    display: block;
}

}
.contact-left i{
  margin-right: 15px;
  font-size: 20px;
  color: white;
}
.fa-gihub{
    font-size: 25px;
}
.js-calendar-graph-svg svg{
   width: 5px;
   width: 500px;
}


.individual_desc{
    color: gold;
    margin: 5%;
    text-align: center;
    border-radius: 20px;
    padding-right: 12px;
}
.individual_desc>p{
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 25px;
    font-size: 20px;
    color:aqua;
    letter-spacing: 2px;
}
.individual_desc h3{
    font-size: 25px;
}

.Myintro h2{
    color: #ff004f;
}



  
